/*! Begin CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*! End CSS Reset */

body {
  color: #444;
  background: #fff;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: monospace;
  margin: 32px 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

a {
  color: #99bbdd;
}

p {
  margin: 1em 0;
}

dfn {
  font-style: italic;
}

footer {
  text-align: center;
  color: #888;
  padding: 80px 24px;
}

address {
  font-weight: 300;
}

ul {
  display: block;
  padding: 0 16px 16px 16px;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  color: inherit;
}

hr {
  display: none;
}

#statement {
  margin-bottom: 24px;
}

#statement p {
  margin: 0;
  padding: 32px;
}

#devops, #employment, #academic {
  padding: 16px 0;
}

#academic h3 {
  margin-top: 0;
}

.layout {
  width: 100%;
}

.layout__row {
  width: 100%;
  overflow: auto;
}

  .layout__row--inverted {
    color: #fff;
    background: #444;
  }

    .layout__row--inverted a {
      font-weight: 300;
    }

    .layout__row--inverted .experience-summary {
      color: #aaa;
    }

    .layout__row--inverted .experience-detail {
      font-weight: 300;
    }

  .layout__row--paper {
    background: #f8f8f8;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }

.layout__content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.grid {
  width: 100%;
  overflow: auto;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}

.grid__cell {
  float: left;
  margin: 8px;
  width: calc(100% - 16px);
}

  .grid__cell--1-col {
    width: calc(8.33% - 16px);
  }

  .grid__cell--4-col {
    width: calc(33.33% - 16px);
  }

  .grid__cell--12-col {
    width: calc(100% - 16px);
  }

.heading-title {
  float: left;
  margin: 32px 0 32px 80px;
  text-align: left;
}

.social-links {
  float:right;
  margin: 24px 80px 24px 0;
}

  .social-links a {
    text-decoration: none;
    color: inherit;
  }

  .social-links dt {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-left: 24px;
  }

  .social-links dd {
    display: none;
  }

.logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-size: 32px 32px;
}

  .logo > * {
    display: none;
  }

  .logo--twitter {
    background-image: url("../images/twitter_logo_64px.png");
  }

  .logo--github {
    background-image: url("../images/github_logo_64px.png");
  }

  .logo--email:before {
    font-size: 32px;
    position: relative;
    top: -4px;
    content: "@";
  }

.section-header:before {
  color: #888;
  content: "# ";
}

  .section-header--and:before {
    content: "& ";
  }

  .section-header--dotslash:before {
    content: "./";
  }

  .section-header--vector:before {
    content: "[]";
  }

.one-liner {
  font-weight: bold;
}

.experience-summary {
  margin: 10px 20px;
  color: #888;
  word-spacing: .2em;
  font-weight: 300;
}

  .experience-summary li {
    display: inline;
  }

  .experience-summary li:after {
    content: ", "
  }

  .experience-summary li:last-child:after {
    content: ""
  }

  .experience-summary a {
    text-decoration: none;
    color: inherit;
  }

.experience-detail {
}

  .experience-detail li {
    display: block;
    margin-bottom: 0.35em;
  }

.employment-role {
  overflow: auto;
  margin: 0 0 16px 0;
  font-weight: 300;
  text-transform: uppercase;
}

  .employment-role dt {
    display: none;
  }

  .employment-role dd {
    display: inline;
  }

.employment-role__period {
  font-weight: 400;
  margin-left: 8px;
}

.employment-role__period:before {
  content: "~ ";
  font-weight: 300;
}

.email {
  display: none;
}

@page {
  size: "A4";
  margin: 0;
  size: landscape;
}

@media (max-width: 960px) {
  .grid__cell--1-col {
    width: calc(12.5% - 16px);
  }

  .grid__cell--4-col {
    width: calc(50% - 16px);
  }

  .heading-title {
    float: none;
    margin: 32px 0;
    text-align: inherit;
  }

  .social-links {
    display: none;
  }
}

@media (max-width: 480px) {
  .grid__cell--1-col {
    width: calc(25% - 16px);
  }

  .grid__cell--4-col {
    width: calc(100% - 16px);
  }
}

@media print {
  body {
    font-size: 3.7mm;
  }

  h1, h2, h3 {
    margin: 4.2mm 0;
  }

  h1 {
    font-size: 6.5mm;
  }

  h2 {
    font-size: 6.2mm;
  }

  h3 {
    margin-top: 0;
    font-size: 5.9mm;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0 2.2mm 1.1mm 2.2mm;
    page-break-inside: avoid;
  }

  li {
    line-height: 1.7em;
    page-break-inside: avoid;
  }

  footer {
    padding: 6mm 18mm 18mm 10mm;
    text-align: right;
  }

  hr {
    display: block;
    border: none;
    width: 100%;
    margin: 6mm 0;
    page-break-before: always;
  }

  #statement {
    margin-bottom: 2.2mm;
  }

    #statement p {
      padding: 6mm 18mm;
    }

  #devops, #employment, #academic {
    padding: 2.5mm 0;
  }

  #devops {
    page-break-before: always;
  }

  .layout__content {
    padding: 0 8mm;
  }

  .grid__cell {
    margin: 2mm;
  }

  .grid__cell--1-col {
    width: calc(8.33% - 4mm);
  }

  .grid__cell--4-col {
    width: calc(33.33% - 4mm);
  }

  .grid__cell--12-col {
    width: calc(100% - 4mm);
  }

  .heading-title {
    float: left;
    margin: 10mm 0 10mm 18mm;
    text-align: inherit;
    text-align: left;
  }

  .social-links {
    display: block;
    margin: 8mm 18mm 8mm 0;
  }

    .social-links dt {
      height: 8mm;
      line-height: 8mm;
      padding-left: 8mm;
    }

    .social-links dd {
      display: inline-block;
      position: relative;
      top: -2.5mm;
      padding-left: 2.5mm;
      height: 8mm;
      line-height: 8mm;
    }

  .logo {
    width: 8mm;
    height: 8mm;
    line-height: 8mm;
    background-size: 8mm 8mm;
  }

    .logo--email:before {
      font-size: 6.5mm;
      position: relative;
      content: "@";
    }

  .experience-summary {
    margin: 2.5mm;
  }

  .employment-role {
    margin: 0 0 4mm 0;
  }

  .employment-role__period {
    margin-left: 2.5mm;
  }

  .copyright {
    display: none;
  }

  .email {
    display: inline;
  }

  .email:before {
    content: " – ";
  }
}
